@media screen and (max-width: 1900px) {
    .firstSlide{
        .header{
            padding-left: 110px;
            padding-right: 110px;
        .logoBlock{
            margin-right: 500px;
            .logo{
                margin-right: 7px;
            }
            .textLogo{
                font-size: 36px;
            }
        }
    }
    .menu{
        .menuBlock{
            li{
                a{
                    font-size: 20px;
                }
            }
        }
    }
    }
  }
  @media screen and (max-width: 1600px) {
    .firstSlide{
        .header{
            padding-left: 110px;
            padding-right: 100px;
        .logoBlock{
            margin-right: 450px;
            .logo{
                margin-right: 7px;
            }
            .textLogo{
                font-size: 22px;
            }
        }
    }
    .menu{
        .menuBlock{
            li{
                a{
                    font-size: 16px;
                }
            }
        }
    }
    }
    .lang{
        margin-top: 50px;
        margin-left: 100px;
        gap: 17px;
    
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 129.52%;
            text-align: center;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.5);
    
            &.active{
                color: #000000;
            }
        } 
    }
    .fiveSlide{
        display: block;
        .nameCat{
            margin-bottom: 50px;
        }
        .map{
            margin: 0px;
            padding: 0px;
    
            iframe{
                margin-left: 0px;
                margin: 0px;
                padding: 0px;
                border: 0px;
                width: 980px;
                height: 746px;
            }
        }
    }
    
}

@media screen and (max-width: 1280px) {
    .firstSlide{
        .header{
            padding-left: 80px;
            padding-right: 100px;
        .logoBlock{
            margin-right: 300px;
            .logo{
                margin-right: 7px;
            }
            .textLogo{
                font-size: 18px;
            }
        }
    }
    .menu{
        .menuBlock{
            li{
                a{
                    font-size: 14px;
                }
            }
        }
    }
    }
    .threeSlide{
        .delivery{
            display: block;
            text-align: center;
            margin-bottom: 220px;
            text-align: start;
            display: flex;
            justify-content:start;
            align-items: flex-start;
                .mainHowItem{
                    margin-left: 50px;
                    margin-right: 80px;
                    text-align: start;
                    p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 129.52%;
                    text-align: center;
                    letter-spacing: 0.025em;
                    text-transform: uppercase;
                    color: #219653;
                    margin-bottom: 100px;
                    }
                }
                .descHowItem{
                    p{
                    font-weight: 400;
                    font-size: 15px;
                    margin-top: 50px;
                    }
                }
    
        }
    }
    .fiveSlide{
        display: block;
        .nameCat{
            margin-bottom: 50px;
        }
        .map{
            margin: 0px;
            padding: 0px;
    
            iframe{
                margin-left: 0px;
                margin: 0px;
                padding: 0px;
                border: 0px;
                width: 800px;
                height: 746px;
            }
        }
    }
    

}
@media screen and (max-width: 1024px) {
    .firstSlide{
        .header{
            padding-left: 80px;
            padding-right: 50px;
        .logoBlock{
            margin-right: 50px;
            .logo{
                margin-right: 7px;
            }
            .textLogo{
                font-size: 18px;
            }
        }
    }
    .menu{
        .menuBlock{
            li{
                a{
                    font-size: 14px;
                }
            }
        }
    }
    }
    .infoSlide{
        display: flex;
    
        .infoText{
            margin-top: 80px;
            margin-right: 100px;
            margin-left: 100px;
            .nameCompany{
                font-size: 20px;
            }
            .descInfo{
                font-size: 16px;
            }
        }
        .infoImg{
            display: flex;
    
                img.factryImg{
                    height: 300px;
                    position: absolute;
                    z-index: 10;
                }
                img.unionImg{
                    height: 400px;
                    position: absolute;
                    z-index: 10;
                    position: relative;
                    z-index: 0;
                    margin-right: 120px;
                }
        }
    }
    .nameCat{
        font-size: 20px;
        margin-bottom: 20;
    }
    .lang{
        margin-top: 50px;
        margin-left: 100px;
        gap: 17px;
    
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 129.52%;
            text-align: center;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.5);
    
            &.active{
                color: #000000;
            }
        } 
    }
    .swiper{
        width: 800px;
    .card-content{
        margin-right: 50;
        width: 250px;
        img{
            width: 250px;
        }
    }
    }

}
@media screen and (max-width: 800px) {
    .firstSlide{
        .header{
            display: block;
            padding-left: 80px;
            padding-right: 40px;
        .logoBlock{
            margin-right: 50px;
            .logo{
                margin-right: 7px;
                width: 40px;
                height: 35px;
            }
            .textLogo{
                font-size: 16px;
            }
        }
    }
    .menu{
        .menuBlock{
            li{
                a{
                    font-size: 10px;
                }
            }
        }
    }
    }
    .infoSlide{
        display: block;
    
        .infoText{
            margin-top: 80px;
            margin-right: 100px;
            text-align: center;
            .nameCompany{
                font-size: 20px;
            }
            .descInfo{
                font-size: 16px;
            }
        }
        .infoImg{
            display: flex;
            margin-left: 180px;
            margin-top: 50px;
    
                img.factryImg{
                    height: 300px;
                    position: absolute;
                    z-index: 10;
                }
                img.unionImg{
                    height: 400px;
                    position: absolute;
                    z-index: 10;
                    position: relative;
                    z-index: 0;
                    margin-right: 120px;
                }
        }
    }
    .lang{
        margin-top: 50px;
        margin-left: 70px;
        gap: 17px;
    
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 129.52%;
            text-align: center;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.5);
    
            &.active{
                color: #000000;
            }
        } 
    }
    .nameCat{
        font-size: 24px;
    }
}
@media screen and (max-width: 768px) {
    .firstSlide{
        .header{
            display: block;
            padding-left: 50px;
            padding-right: 40px;
        .logoBlock{
            margin-right: 50px;
            .logo{
                margin-right: 7px;
                width: 40px;
                height: 35px;
            }
            .textLogo{
                font-size: 16px;
            }
        }
    }
    .menu{
        .menuBlock{
            li{
                a{
                    font-size: 10px;
                }
            }
        }
    }
    }
}
@media screen and (max-width: 600px) {
    
}
@media screen and (max-width: 480px) {
    .firstSlide{
        .header{
            padding-left: 100px;
            padding-right: 100px;
        .logoBlock{
            margin-right: 300px;
            margin-left: 100px;
            .logo{
                margin-right: 7px;
            }
            .textLogo{
                font-size: 18px;
            }
        }
    }
    .menu{
        .menuBlock{
            margin-left: 7px;
            li{
                a{
                    font-size: 8px;
                }
            }
        }
    }
    }
    .threeSlide{
        .delivery{
            display: block;
            text-align: center;
            margin-bottom: 220px;
            text-align: start;
            display: flex;
            justify-content:start;
            align-items: flex-start;
                .mainHowItem{
                    margin-left: 50px;
                    margin-right: 80px;
                    text-align: start;
                    p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 129.52%;
                    text-align: center;
                    letter-spacing: 0.025em;
                    text-transform: uppercase;
                    color: #219653;
                    margin-bottom: 100px;
                    }
                }
                .descHowItem{
                    p{
                    font-weight: 400;
                    font-size: 15px;
                    margin-top: 50px;
                    }
                }
    
        }
    }
    .fiveSlide{
        display: block;
        .nameCat{
            margin-bottom: 50px;
        }
        .map{
            margin: 0px;
            padding: 0px;
    
            iframe{
                margin-left: 0px;
                margin: 0px;
                padding: 0px;
                border: 0px;
                width: 800px;
                height: 746px;
            }
        }
    }
    
}
@media screen and (max-width: 320px) {
    
}



