@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');
body{
    display: block;
}
.nameCat{
    margin-top: 70px;
    margin-bottom: 150px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 129.52%;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #000000;
}
.header{
    display: flex;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 15px;
    align-items: center;

    .logoBlock{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 420px;

        .logo{
            width: 69px;
            height: 50px;
            margin-right: 7px;
        }
        .textLogo{
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-size: 36px;
            font-weight: 700;
            line-height: 44px;
            color: #000000;
        }
    }
    .menu{

        .menuBlock{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 37px;

            li{
                list-style: none;

                a{
                    color: #219653;
                    text-decoration: none;
                    letter-spacing: 0.025em;
                    text-transform: uppercase;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 129.52%;
                }
            }
        }
    }

}
.infoSlide{
    display: flex;
    margin-top: 110px;
    justify-content: center;

    .infoText{
        margin-top: 80px;
        margin-right: 100px;
        margin-left: 50px;
        .nameCompany{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 129.52%;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            color: #27AE60;
        }
        .descInfo{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 129.52%;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            color: #888888;
        }
        img{
            width: 378px;
            height: 200px;
            margin-top: 5px;
        }
    }
    .infoImg{
        display: flex;

            img.factryImg{
                width: 600px;
                height: 600px;
                position: absolute;
                z-index: 10;
            }
            img.unionImg{
                position: relative;
                z-index: 0;
                
                width: 600px;
                height: 600px;
            }
    }
}
.lang{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 17px;
    gap: 17px;

    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 129.52%;
        text-align: center;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);

        &.active{
            color: #000000;
        }
    } 
}
.secondSlide{
    .downPrice{
        text-align: center;
        margin-top: 100px;

        .buttonDown{
            width: 270px;
            height: 111px;
            background: #6FCF97;
            border-radius: 15px;
            border: 0px;

            p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 129.52%;
                /* or 21px */
                text-align: center;
                letter-spacing: 0.025em;
                text-transform: uppercase;
                color: #252525;
            }
        }
    }
}

.threeSlide{
    .delivery{
        text-align: center;
        margin-bottom: 120px;
        text-align: start;
        display: flex;
        justify-content:start;
        align-items: flex-start;
            .mainHowItem{
                margin-left: 260px;
                margin-right: 120px;
                text-align: start;
                p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 129.52%;
                text-align: center;
                letter-spacing: 0.025em;
                text-transform: uppercase;
                color: #219653;
                margin-bottom: 100px;
                }
            }
            .descHowItem{
                p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 129.52%;
                /* or 41px */
                margin-bottom: 107px;
                letter-spacing: 0.025em;
                text-transform: uppercase;
                
                color: rgba(0, 0, 0, 0.75)
                }
            }

    }
}
.fourSlide{
    .nameCat{
        margin-bottom: 100px;
    }
    form{
        display: block;
        width: 760px;
        height: 960px;
        background-color: rgb(255, 255, 255);
        background: #FFFFFF;
        box-shadow: 0px 5px 43px -12px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        margin-bottom: 50px;

        input{
            margin-bottom: 58px;
            width: 519px;
            height: 58px;
            border: 3px solid #6FCF97;
            border-radius: 20px;
            color: #000000;
            padding: 10px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 129.52%;
            text-align: start;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            margin-left: 104px;
            color: #020202;

            &::placeholder{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 129.52%;
                text-align: start;
                letter-spacing: 0.025em;
                text-transform: uppercase;
                color: #535353;
            }
        }
        button{
                background: #6FCF97;
                border: 1px solid #6FCF97;
                border-radius: 15px;
                width: 356px;
                height: 90px;
                border: 0px;
                text-align: center;
                margin-left: 197px;

                p{         
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 129.52%;
                    text-align: center;
                    letter-spacing: 0.025em;
                    text-transform: uppercase;
                    color: #0B0A0A;
                }
        }
    }
}
.fiveSlide{
    display: flex;
    margin: 0px;
    padding: 0px;
    .nameCat{
        margin-bottom: 50px;
    }
    .map{
        margin: 0px;
        padding: 0px;

        iframe{
            margin-left: 0px;
            margin: 0px;
            padding: 0px;
            border: 0px;
            width: 996px;
            height: 746px;
        }
    }
    .contact-info{
        .main-items{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 129.52%;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            color: #219653;
            margin-left: 135px;
            margin-right: 128px;
        }
        .desc-items{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 129.52%;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            color: #000000;
            margin-top: 27px;
        }

        .adresCont{
            display: flex;
        }
        .emailCont{
            display: flex;
            .desc-items{margin-left: 19px;}
        }
        .telCont{
            display: flex;
            .desc-items{margin-left: -32px;}
        }
    }
}
.whyMe{
    .block{
        display: flex;
    }
    margin-bottom: 150px;
    .nameCat{
        margin-bottom: 60px;
    }
    .indoObrImg{
        margin-left: 139px;
        img{
            width: 650px;
        }
    }
    .indoObr{
        margin-left: 100px;
    }
    .why{
        text-align: center;
        margin-bottom: 100px;
        .main{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 129.52%;
        text-align: center;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: #219653;
        
        }
        .desc{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 129.52%;
        text-align: center;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: #000000;
        }
}
}